body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 15px;
    text-align: center;
    color: white;
}

nav {
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #4CAF50;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    position: relative;
    cursor: pointer; /* Change cursor to pointer for better UX */
}

th a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Maintain the same color as the text */
}

th i {
    margin-left: 5px; /* Space out the icon from the text */
    font-size: 0.8em; /* Adjust the icon size */
}

form {
    display: inline;
}

.alert {
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.alert ul {
    list-style-type: none;
    padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}

.du-id-label {
    background: rgba(255, 255, 255, 0.25);
    padding: 0px 0px;
    border-radius: 1px;
    font-size: 9px;
    text-align: center;
}