<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GrandProto Antennas Management{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <header>
        <h1>GrandProto Antennas Management</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">FEB Records</a></li>
            <li><a href="{{ url_for('index_antenna') }}">Antenna Records</a></li>
            <li><a href="{{ url_for('map_view') }}">Map</a></li>
            {% if current_user.is_authenticated %}
                <li>
                    <form action="{{ url_for('logout') }}" method="POST" style="display:inline;">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            {% endif %}
        </ul>
        </ul>
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="alert">
              <ul>
              {% for message in messages %}
                  <li>{{ message|safe }}</li>
              {% endfor %}
              </ul>
          </div>
      {% endif %}
    {% endwith %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>

