{% extends 'base.html' %}

{% block content %}
    <h2>FEB Records</h2>
    <li><a href="{{ url_for('add_feb') }}">Add a new record</a></li>
    <li><a href="{{ url_for('upload_feb') }}">Upload febs from a csv file</a></li>
    <table id="febTable">
        <thead>
            <tr>

                <th>FEB ID <a href="{{ url_for('index_feb', page=page, sort_by='feb_id', sort_order='asc' if sort_by != 'feb_id' or sort_order == 'desc' else 'desc') }}"><i class="fas fa-chevron-{{ 'up' if sort_by == 'feb_id' and sort_order == 'asc' else 'down' }}"></i></a></th>
                <th>MAC Address <a href="{{ url_for('index_feb', page=page, sort_by='mac_address', sort_order='asc' if sort_by != 'mac_address' or sort_order == 'desc' else 'desc') }}"><i class="fas fa-chevron-{{ 'up' if sort_by == 'mac_address' and sort_order == 'asc' else 'down' }}"></i></a></th>
                <th>IP Address <a href="{{ url_for('index_feb', page=page, sort_by='ip_address', sort_order='asc' if sort_by != 'ip_address' or sort_order == 'desc' else 'desc') }}"><i class="fas fa-chevron-{{ 'up' if sort_by == 'ip_address' and sort_order == 'asc' else 'down' }}"></i></a></th>
                <th >Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for feb in febs %}
            <tr>
                <form action="{{ url_for('edit_feb', feb_id=feb.feb_id) }}" method="POST">
                    <td>
                        <p hidden="hidden">{{ feb.feb_id }}</p>
                        <input type="number" name="feb_id" value="{{ feb.feb_id }}"  required>
                    </td>
                    <td>
                        <p hidden="hidden">{{ feb.mac_address }}</p>
                        <input type="text" name="mac_address" value="{{ feb.mac_address }}" required>
                    </td>
                    <td>
                         <p hidden="hidden">{{ feb.ip_address }}</p>
                        <input type="text" name="ip_address" value="{{ feb.ip_address }}" required>
                    </td>
                    <td>
                        <button type="submit">Save</button>
                </form>
                        <form action="{{ url_for('delete_feb', feb_id=feb.feb_id) }}" method="POST" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
<div>
    {% if total_rows > per_page %}
        {% if page > 1 %}
            <a href="{{ url_for('index_feb', page=page-1, sort_by=sort_by, sort_order=sort_order) }}">Previous</a>
        {% endif %}
        Page {{ page }} of {{ (total_rows // per_page) + (total_rows % per_page > 0) }}
        {% if page < (total_rows // per_page) + (total_rows % per_page > 0) %}
            <a href="{{ url_for('index_feb', page=page+1, sort_by=sort_by, sort_order=sort_order) }}">Next</a>
        {% endif %}
    {% endif %}
</div>


{% endblock %}
