{% extends 'base.html' %}

{% block content %}
    <h2>FEB Records</h2>
    <li><a href="{{ url_for('add_feb') }}">Add a new record</a></li>
    <li><a href="{{ url_for('upload_feb') }}">Upload febs from a csv file</a></li>
    <li><a href="{{ url_for('dhcp_declaration') }}">Generate dhcp file</a></li>

    <table id="febTable">
        <thead>
            <tr>

                <th>FEB ID <a href="{{ url_for('index_feb', page=page, sort_by='feb_id', sort_order='asc' if sort_by != 'feb_id' or sort_order == 'desc' else 'desc') }}"><i class="fas fa-chevron-{{ 'up' if sort_by == 'feb_id' and sort_order == 'asc' else 'down' if sort_by == 'feb_id' else 'right'}}"></i></a></th>
                <th>MAC Address <a href="{{ url_for('index_feb', page=page, sort_by='mac_address', sort_order='asc' if sort_by != 'mac_address' or sort_order == 'desc' else 'desc') }}"><i class="fas fa-chevron-{{ 'up' if sort_by == 'mac_address' and sort_order == 'asc' else 'down' if sort_by == 'mac_address' else 'right'}}"></i></a></th>
                <th>IP Address <a href="{{ url_for('index_feb', page=page, sort_by='ip_address', sort_order='asc' if sort_by != 'ip_address' or sort_order == 'desc' else 'desc') }}"><i class="fas fa-chevron-{{ 'up' if sort_by == 'ip_address' and sort_order == 'asc' else 'down' if sort_by == 'ip_address' else 'right'}}"></i></a></th>
                <th>Du_id <a href="{{ url_for('index_feb', page=page, sort_by='du_id', sort_order='asc' if sort_by != 'du_id' or sort_order == 'desc' else 'desc') }}"><i class="fas fa-chevron-{{ 'up' if sort_by == 'du_id' and sort_order == 'asc' else 'down' if sort_by == 'du_id' else 'right' }}"></i></a></th>
                <th >Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for feb in febs %}
            <tr>
                <form action="{{ url_for('edit_feb', feb_id=feb.feb_id) }}" method="POST">
                    <td>
                        <p hidden="hidden">{{ feb.feb_id }}</p>
                        <input type="number" name="feb_id" value="{{ feb.feb_id }}" class="editable-field" required>
                    </td>
                    <td>
                        <p hidden="hidden">{{ feb.mac_address }}</p>
                        <input type="text" name="mac_address" value="{{ feb.mac_address }}" class="editable-field" required>
                    </td>
                    <td>
                         <p hidden="hidden">{{ feb.ip_address }}</p>
                        <input type="text" name="ip_address" value="{{ feb.ip_address }}" required>
                    </td>
                    <td>
                        {{ feb.du_id }}
                    </td>
                    <td>
                        <button type="submit" class="save-btn">Save</button>
                </form>
                        <form action="{{ url_for('delete_feb', feb_id=feb.feb_id) }}" method="POST" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
<div>
    {% if total_rows > per_page %}
        {% if page > 1 %}
            <a href="{{ url_for('index_feb', page=page-1, sort_by=sort_by, sort_order=sort_order) }}">Previous</a>
        {% endif %}
        Page {{ page }} of {{ (total_rows // per_page) + (total_rows % per_page > 0) }}
        {% if page < (total_rows // per_page) + (total_rows % per_page > 0) %}
            <a href="{{ url_for('index_feb', page=page+1, sort_by=sort_by, sort_order=sort_order) }}">Next</a>
        {% endif %}
    {% endif %}
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    // Sélectionnez tous les champs modifiables
    const editableFields = document.querySelectorAll('.editable-field');

    editableFields.forEach(field => {
        field.addEventListener('input', function () {
            // Trouvez le bouton "Save" dans la même ligne
            const saveButton = this.closest('tr').querySelector('.save-btn');

            // Changez la couleur du bouton
            saveButton.style.backgroundColor = '#ffcc00'; // Couleur jaune
            saveButton.style.color = '#000'; // Couleur du texte
        });
    });
});

document.addEventListener('DOMContentLoaded', function () {
    const saveButtons = document.querySelectorAll('.save-btn');

    saveButtons.forEach(button => {
        button.addEventListener('click', function () {
            // Réinitialiser la couleur du bouton
            this.style.backgroundColor = ''; // Couleur par défaut
            this.style.color = ''; // Couleur du texte par défaut
        });
    });
});
</script>
{% endblock %}
