{% extends 'base.html' %}

{% block content %}
    <h2>FEB Records</h2>
    <a href="{{ url_for('add_feb') }}">Add a new record</a>
    <table id="febTable">
        <thead>
            <tr>
                <th>FEB ID</th>
                <th>MAC Address</th>
                <th>IP Address</th>
                <th>Target DU ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for feb in febs %}
            <tr>
                <form action="{{ url_for('edit_feb', feb_id=feb.feb_id) }}" method="POST">
                    <td>
                        <p hidden="hidden">{{ feb.feb_id }}</p>
                        <input type="number" name="feb_id" value="{{ feb.feb_id }}"  required>
                    </td>
                    <td>
                        <p hidden="hidden">{{ feb.mac_address }}</p>
                        <input type="text" name="mac_address" value="{{ feb.mac_address }}" required>
                    </td>
                    <td>
                         <p hidden="hidden">{{ feb.ip_address }}</p>
                        <input type="text" name="ip_address" value="{{ feb.ip_address }}" required>
                    </td>
                    <td>
                        <p hidden="hidden">{{ feb.target_du_id }}</p>
                        <input type="number" name="target_du_id" value="{{ feb.target_du_id }}">
                    </td>
                    <td>
                        <button type="submit">Save</button>
                </form>
                        <form action="{{ url_for('delete_feb', feb_id=feb.feb_id) }}" method="POST" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function() {
            $('#febTable').DataTable(); // Initialize DataTables
        });
    </script>

{% endblock %}
