{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Leaflet CSS/JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- Leaflet.markercluster CSS/JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <style>
        #map {
            height: 600px;  /* Augmente la hauteur de la carte */
        }
    </style>

{% endblock %}


{% block content %}


    <h1>Antenna Positions</h1>
    <div id="map"></div>

    <script>
        // Initialize map
        var map = L.map('map').setView([40.959, 93.94], 13); // Centrer sur le globe

        // Add map layer
        //L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        //    maxZoom: 19,
        //    attribution: '© OpenStreetMap'
        //}).addTo(map);

        // Add map satellite (blocked in China)
        //L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        //   attribution: 'Tiles © Esri — Source: Esri, DeLorme, NAVTEQ',
        //   maxZoom: 19,
        //}).addTo(map);

        L.tileLayer('https://sat01.maps.yandex.net/tiles?l=sat&x={x}&y={y}&z={z}&lang=en_US', {
            attribution: 'Map data © <a href="https://yandex.com/maps/">Yandex</a>',
            maxZoom: 19
         }).addTo(map);

        // Create a group of clusters
        var markersCluster = L.markerClusterGroup({
            spiderfyOnMaxZoom: true, // spread cluster on clic
            showCoverageOnHover: false,
            zoomToBoundsOnClick: true,
            maxClusterRadius: 15 // clusters size
        });

        // Add marks for each antenna
        {% for antenna in antennas_febs %}
            var marker = L.marker([{{ antenna.latitude }}, {{antenna.longitude}}])
                .bindPopup('DU ID: {{ antenna.du_id }}<br> lat: {{ antenna.latitude }}<br>long: {{ antenna.longitude }}<br> Feb: {{ antenna.feb_id }} ({{ antenna.ip_address }}) <br><a href="edit_antenna/{{ antenna.antenna_id }}">edit antenna</a>');

            markersCluster.addLayer(marker);
          //L.marker([{{ antenna.latitude }}, {{ antenna.longitude }}])
          //  .addTo(map)
          //  .bindPopup('DU ID: {{ antenna.du_id }}<br> lat: {{ antenna.latitude }}<br>long: {{ antenna.longitude }}<br> Feb: {{ antenna.feb_id }} ({{ antenna.ip_address }}) <br><a href="edit_antenna/{{ antenna.antenna_id }}">edit antenna</a>');

        {% endfor %}
        map.addLayer(markersCluster);


    </script>

{% endblock %}